<mat-card class="product-card">
  <img mat-card-image src="{{product.image}}" alt="{{product.name}}">
  <mat-card-content>
    <div class="product-card__info">
      <h4>{{ product.name }}</h4>
      <h2>{{ product.price | currency }}</h2>
    </div>
    <p>
      {{product.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button color="primary" (click)="addToCart()" *ngIf="!isProductExists">Add to cart</button>
    <button mat-stroked-button color="primary" [routerLink]="['', 'cart']" *ngIf="isProductExists">Go To Cart</button>
  </mat-card-actions>
</mat-card>
